@CHARSET "UTF-8";

/* Header */
header nav.navbar-default { background-color : #fff!Important; }
div.divNav { 
	position : relative;
	display : block;
	z-index : 1;
}

    
/* Footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
	text-align : center;
	margin-bottom : 50px;
}

/* 공통 서식 */
div.wrapper { 
	position : relative;
	max-width : 970px; 
	margin : 0 auto;
	padding : 0;
	overflow : hidden;	
}
div.container { max-width : 970px!Important; margin-bottom : 50px; }