@CHARSET "UTF-8";


/* 폰트 */
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

.godo {
 font-family: 'Godo', sans-serif;
}

.normal {
 font-style: normal;
}

.w250 {
 font-weight: 250;
}

.w300 {
 font-weight: 300;
}

.w350 {
 font-weight: 350;
}

.w400 {
 font-weight: 400;
}

/* Left Menu */

.public-image-tag-m {
  position: absolute;
  top: 15px;
  width: 80%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.public-image-tag-m li {
  text-indent: 20px;
  line-height: 40px;
}
.public-image-tag-m li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.public-image-tag-m li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #337cb7;
  background: rgba(211, 211, 211, 0.2);
}
.public-image-tag-m li a:active, .public-image-tag-m li a:focus {
  cursor: pointer;
  text-decoration: none;
}
.public-image-category-a {
  list-style: none;
  text-decoration: none;
  color: #999999;
}
.public-image-category-a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #337cb7;
  background: rgba(211, 211, 211, 0.2);
}
.public-image-category-a:active, .public-image-category-a:focus {
  cursor: pointer;
  text-decoration: none;
}
.public-image-category-a:first-letter {
  text-transform: uppercase;
}

.public-image-tag-a {
  margin-left: -25px;
  list-style: none;
  text-decoration: none;
  color: #999999;
}
.public-image-tag-a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #337cb7;
  background: rgba(211, 211, 211, 0.2);
}
.public-image-tag-a:active, .public-image-tag-a:focus {
  cursor: pointer;
  text-decoration: none;
}
.public-image-tag-a:first-letter {
  text-transform: uppercase;
}

.selected {
  background: rgba(174,171,172,0.2);
  li {
    display: block;
  }
}





/* Header */
header nav.navbar-default { background-color : #fff!Important; }
div.divNav { 
	position : relative;
	display : block;
	z-index : 1;
}
header #logo {
	padding-left: 0px;
}
    
/* Footer */
footer {
	border-top: 2px solid #f5f5f5;
	background-color: #fff;
	padding: 25px;
	text-align : center;
	margin-bottom : 0px;
}

/* 공통 서식 */
div.wrapper { 
	position : relative;
	max-width : 970px; 
	margin : 0 auto;
	padding : 0;
}
div.container { max-width : 970px!Important; margin-bottom : 50px; }

textarea { resize : none; }