@CHARSET "UTF-8";

.navbar {
	margin-bottom: 0!Important;
	border-radius: 0;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}