@CHARSET "UTF-8";

.navbar {
	margin-bottom: 0!Important;
	border-radius: 0;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

div.well { border-top : none!Important; }
ul.nav-tabs { border-bottom : none; }
ul.nav li.active a { border-bottom : 1px solid #fff; }

div.reservIndex:hover img { opacity : 0.5; }